# ==== Project/Ports ====
PROJECT_NAME=pg17
PG_PORT=5432
TZ=Asia/Jakarta


# ==== Feature Toggles ====
BACKUP_ENABLED=false

# ==== Volume mapping (host <-> container) ====
HOST_DATA_DIR=./data
HOST_LOG_DIR=./logs
HOST_BACKUP_DIR=./backups
HOST_CONF_DIR=./docker/conf
HOST_INITDB_DIR=./initdb

CONTAINER_DATA_DIR=/var/lib/postgresql/data
CONTAINER_LOG_DIR=/var/log/postgresql
CONTAINER_BACKUP_DIR=/backups
CONTAINER_CONF_DIR=/etc/postgresql
CONTAINER_INITDB_DIR=/docker-entrypoint-initdb.d

# ==== NEW: choose image build target ====
# core_dbutils  -> image includes /opt/db-utils + /usr/local/bin/dbutil
# core          -> minimal image (no db-utils baked in)
DBUTILS_BUILD_TARGET=core_dbutils
